.header{
    display: flex;
    justify-content: space-around;
    background: brown;
    align-content: space-around;
    border-radius: 20px;
    font-size: larger;
    text-align: justify;
    font-weight: 700;
}
